/bin
/build/
/lib/
projects/msvc/2010/unitest/qt_test
projects/codeblocks/phantom
*.ipch
*.sdf
*.suo
*.opensdf
*.exp
*.log
*.h.gch
*.idc
dependencies/QWidgets/build
dependencies/QWidgets/bin
dependencies/QWidgets/bin
dependencies/libjit/bin
dependencies/libjit/libjit_test/Debug
dependencies/libjit/libjit_test/Release
dependencies/libjit/msvc/Debug
dependencies/libjit/msvc/Release